// Background Colors
.u_bg_white { background-color: $white; color: $dark; }
.u_bg_black { background-color: $black; color: $light; }
.u_bg_red { background-color: $red; color: $white; }
.u_bg_green { background-color: $green; color: $white; }
.u_bg_blue { background-color: $blue; color: $white; }

// Justify Alignment
.u_justify_left { justify-content: flex-start; }
.u_justify_right { justify-content: flex-end; }
.u_justify_center { justify-content: center; }
