$primary: #2abc26;
$secondary: #010967;
$black: #000;
$white: #fff;
$dark: #000000;
$light: #f1f1f1;
$gray-100: #eef3fa;
$gray-200: #c8d0d2;
$border-color: $light;

// Typography
$reset-root-font-size: 62.5%; // 1rem == 10px root font-size
$font-family-base: "Mulish", sans-serif;
$font-family-secondary: "Cormorant Garamond", serif;

$paragraph-line-height: 3rem;
$paragraph-bottom-margin: 2rem;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// Font Sizes
$font-size-base: 1.6rem;
$font-size-xs: 1.1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.2rem;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($primary, 10%);
$link-hover-decoration: none;

// Body Settings
$body-color: $dark;
$body-bg: $white;

// Border Radius
$border-radius-sm: 0.4rem;
$border-radius-md: 0.8rem;
$border-radius-lg: 1rem;

// Transition
$transition-sm: all 0.3s;
$transition-md: all 0.5s;
$transition-lg: all 0.8s;
$transition-timing-bezier: cubic-bezier(1, 0, 0, 1);

// Shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-md: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);

// Navbar Settings
$navbar-bg: $white;
$navbar-height: 7rem;
$nav-link-color: $secondary;
$nav-link-decoration: none;
$nav-link-hover-color: $primary;
$nav-link-hover-decoration: none;
$navbar-sm-max-width: 420px;
$cat-sm-padding: 1rem 1.5rem;

$enable-caret: true;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  11: $spacer * 11,
  12: $spacer * 12,
  13: $spacer * 13,
  14: $spacer * 14,
  15: $spacer * 15,
);
$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);
