/* purgecss start ignore */

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .page-numbers:not(:last-child) {
    margin-right: 1rem;
  }

  svg,
  svg [fill]:not([fill="none"]) {
    fill: $blue;
    height: 1rem;
  }

  span,
  a:link,
  a:visited {
    display: flex;
    width: 5rem;
    height: 5rem;
    // border: $border-width solid $blue;
    // border-radius: $border-radius;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $blue !important;
    // background-color: rgba($blue, $rgba-prcentage);
    position: relative;
    margin: 5px 0;
    @include box-shadow;

    svg [fill]:not([fill="none"]) {
      fill: $white !important;
    }
  }

  a:link,
  a:visited {
    &:active,
    &:hover {
      color: $white !important;
      background-color: $blue;
      // border: $border-width solid darken($blue, $rgba-prcentage);
    }
  }

  .prev,
  .next,
  .current {
    color: $white !important;
    background-color: $blue;
    // border: $border-width solid darken($blue, $rgba-prcentage);
  }

  .prev:link,
  .prev:visited,
  .next:link,
  .next:visited {
    background-color: $white;
    border: $border-width solid transparent;
    @include box-shadow;

    svg [fill]:not([fill="none"]) {
      fill: $dark !important;
    }

    &:hover,
    &:active {
      background-color: $white;
      border: $border-width solid $blue;
      svg [fill]:not([fill="none"]) {
        fill: $blue !important;
      }
    }
  }
}

/* purgecss end ignore */
