/* purgecss start ignore */

.btn {
  padding: 1.5rem 2rem;

  &.btn-primary {
    background-color: $primary !important;
    color: $white !important;
  }

  &.btn-outline-primary {
    &:hover,
    &:active {
      color: $white;
    }
  }

  &.btn-white-outline {
    border: 1px solid $white;
    color: $white;
    display: inline-block;

    &:hover,
    &:active {
      background-color: $white;
      color: $primary;
    }
  }

  &.btn-block {
    display: block !important;
  }
}

/* purgecss end ignore */
