/* purgecss start ignore */

$navbar_height: 9rem;
$dropdown-min-width: 25rem;
$child-dropdown-width: 15%;

.navbar {
  position: fixed;
  background-color: $navbar-bg;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: $navbar_height;
  font-family: $font-family-base;

  // Logo
  &__brand {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    a {
      display: block;
    }
    img {
      width: auto;
      height: 6rem;
      display: block;
    }
  }

  // Navbar content wrappers
  .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .navbar-content {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: auto;
      height: 100%;
      flex: 1;

      .navbar-collapse {
        display: block !important;
        height: 100%;
        #menu-primary {
          height: 100%;
        }
      }
    }
  }

  // all links
  a,
  a:link,
  a:visited {
    color: $nav-link-color;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;

    &:hover,
    &:active {
      color: $nav-link-hover-color;
    }
  }

  // all list items
  ul,
  ul li,
  ol,
  ol li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// menu primary
#menu-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  & > li {
    height: 100%;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }

    // CTA button
    &.cta-link {
      margin-left: auto;

      a:link,
      a:visited {
        padding: 1rem 3.5rem;
        background-color: $primary;
        color: $white;
        font-weight: $font-weight-bold;
        border-radius: 3rem;
        border: 1px solid $primary;

        &:hover,
        &:active,
        &:focus {
          color: $primary;
          background-color: $secondary;
        }
      }
    }

    // List item has dropdown
    &.menu-item-has-children {
      position: relative;
    }

    // Link with dropdown meun
    .dropdown-toggle {
      position: relative;
      &:after {
        content: "\25BE";
        font-size: 1.2rem;
        color: inherit;
        transition: $transition-sm;
        margin-left: 0.6rem;
        display: inline-block;
        position: relative;
        top: -0.2rem;
        color: $gray-400;
      }
    }

    // Dropdown list
    & > .dropdown-menu {
      position: absolute;
      max-width: 100%;
      left: 0;
      top: $navbar_height;
      background-color: $primary;
      min-width: $dropdown-min-width;
      transition: $transition-md;
      transition: 0.3s;
      flex-direction: column;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      padding: 1rem;

      & > li {
        max-width: 110rem !important;
        a {
          padding: 1rem;
          display: inline-block;
        }
      }
    }

    & > .toggle-icon {
      display: none;
    }

    // Show dropdown on hover
    &:hover {
      & > .dropdown-menu {
        transition-delay: 0s;
        visibility: visible;
        opacity: 1;
        top: 100%;
      }
    }
  }
}

// Menu Toggle on mobile
.navbar__toggler {
  border: 0;
  outline: 0;
  background: transparent;
  height: 4rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  display: none;
  cursor: pointer;

  span {
    display: block;
    width: 3.4rem;
    height: 0.2rem;
    background-color: $secondary;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
    transform-origin: center;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 3.4rem;
      height: 0.2rem;
      background-color: inherit;
      border-radius: 0rem;
      transition: $transition-sm;
    }
    &:before {
      transform: translateY(-1rem);
    }
    &:after {
      transform: translateY(0.9rem);
    }
  }

  // Hamburger's style When Toggled
  &.collapsed span {
    background: rgba(0, 0, 0, 0);
    &:before,
    &:after {
      background-color: $secondary;
    }
    &:before {
      transform: translateY(0.2rem) rotate(45deg) !important;
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// toggle icon (plus)
.toggle-icon {
  display: inline-block;
  position: relative;
  top: 0rem;
  padding-left: 0.2rem;
  cursor: pointer;

  &:after {
    content: "\002b";
    color: $white;
    font-size: 3rem;
    line-height: 0;
  }

  &.toggled:after {
    content: "\002d";
    font-size: 4rem !important;
  }
}

// mobile
@media screen and (max-width: 960px) {
  .navbar {
    // Toggle icon
    &__toggler {
      display: block;
    }

    // Logo
    &__brand {
      img {
        max-width: 20rem;
      }
    }

    // Navbar wrappers and all content
    .navbar-content {
      position: absolute;
      left: 0;
      top: $navbar_height;
      width: 100%;
      min-height: 80vh;
      display: flex !important;
      flex-direction: column;
      padding: 2rem;
      opacity: 0;
      visibility: hidden;
      background-color: $body-bg;

      &.show {
        opacity: 1;
        visibility: visible;
        overflow: auto;
      }

      .navbar-collapse {
        display: block !important;
        min-height: 100% !important;

        #menu-primary {
          display: block;

          .dropdown-toggle {
            &:after {
              content: "";
            }
          }

          & > li {
            margin: 0;
            height: auto !important;
            padding: 5px 0;

            &.cta-link {
              a:link,
              a:visited {
                background-color: $secondary;
                color: $white;
              }
            }

            // List item has dropdown
            &.menu-item-has-children {
              position: relative;
              display: flex;
              flex-wrap: wrap;

              // Link
              a {
                flex: 1;
              }

              // Link to toggle dropdown
              .toggle-icon {
                display: flex;
                align-items: center;
                justify-content: flex-end;
              }

              // Dropdown
              .dropdown-menu {
                width: 100%;
                position: static;
                opacity: 1;
                min-height: 0;
                max-height: 0 !important;
                background: transparent;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                padding: 0;

                &.dropdown_toggled {
                  opacity: 1;
                  visibility: visible;
                  max-height: 140rem !important;
                }

                li {
                  a {
                    padding: 5px 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar + main {
  margin-top: $navbar_height;
}

/* purgecss end ignore */
