$white:    #fff;
$black:    #000;
$off-white: #f8fefe;
$primary: red;


$white : #ffffff;
$gray  : #e9ecef;
$black : #000000;
$l-gray: #e9ecef;
$d-gray: #212529;
$red   : #dc3545;
$green : #28a745;
$blue  : #007bff;
$teal  : #20c997;
$yellow: #ffc107;
$pink  : #e83e8c;
