// ****************		COLORS		****************
$white:    #fff;
$default:  #B7CAEA;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
$theme-color-interval:      8%;

$yiq-contrasted-threshold:  150;
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;


// Custom mixins
@mixin no-m-no-p(){
  margin: 0px !important;
  padding: 0px !important;
}

@mixin flex() {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
}

@mixin bg-animation(){
  -webkit-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  transition: background 0.4s linear;
}

@mixin color-animation(){
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}


// Body
$color:						#303D57;
$body-bg:                   #f4f7f6;
$body-color:                $color;
$font-size-base:  			15px; 


// Links
$link-color:                $body-color;
$link-hover: 				$green;
$link-decoration:           none;
$link-hover-color:          red;  //darken($link-color, 50%);
$link-hover-decoration:     none;
a{
    text-decoration: none !important;
    &:hover{
        @include color-animation;
    }
}



// ****************		COMPONENTS		****************
$line-height:              	  25px;
$line-height-lg:              1.5;
$line-height-sm:              1.5;

$border-width:                1px;
$border-color:                #f0f0f1;

$border-radius:               5px;
$border-radius-sm:            10px;
$border-radius-lg:            15px;
$border-radius-xl:            25px;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  0 0 10px rgba($black,.08);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);



// ****************		Grid breakpoints		****************
$min-width:		576px;
$max-width:		1400px;
$grid-breakpoints: (
  xs: 0,
  sm: $min-width,
  md: 768px,
  lg: 992px,
  xl: $max-width
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);





// ****************		TYPOGRAPHY		****************

// Font Weight
$bold-1:	500;
$bold-2: 	600;
$bold-3:	800;


// Font Family 
$font-family-sans-serif:      'Poppins', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;


// Responsive Font size
$min_font: 14px;
$max_font: 25px;
$mod_1: 1.08;
$mod_2: 1.4;
@function strip-unit($value) {
 	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

h1 {  
	font-weight: 600;
	font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
	@include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
	font-size: $mod_1*$mod_1*$mod_1 *1rem; 
	@include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
	font-size: $mod_1*$mod_1 *1rem;
	@include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}





// Body
html, body{
	font-family: $font-family-sans-serif;
	letter-spacing: 0.5px;
	font-size: $font-size-base;
	background: $body-bg;
	height: 100%;
}


// Main Content
.content{
	height: auto;
	position: relative;
	margin: 0px;
	padding: 0px;

	.row{
		margin-left: 0px;
		margin-right: 0px;
	}
}


// Container
.container{
	border: 1px solid red;
	padding: 40px;
	max-width: $max-width !important;
}


// Navbar
// nav.page-nav { 
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 1000;
// 	background: $white;
// 	box-shadow: $box-shadow;
// 	padding: 0px;

// 	.container {
// 		position: relative;	
// 		height: 66px;
// 		padding: 0 25px;
// 		margin-bottom: 0px;

// 		@include media-breakpoint-down(md) {
// 			padding: 0 10px;
// 		}
// 	}



// 	ul#menu-primary-menu{
// 		display: block;
// 		border: 1px solid red;
// 		box-sizing: border-box;


// 		li{
// 			box-sizing: border-box;
// 			display: inline-block;
// 			height: 100%;
// 			line-height: auto;
// 			padding: 22px 10px;
// 			font-weight: $bold-2;
// 			margin-bottom: 10px;


// 			a{
// 				height: 100%;
// 				display: block;
// 				text-transform: uppercase;
// 				letter-spacing: 1.5px;
// 				font-size: 13px;	

// 				&:hover{
// 					background: darken($white, 0.4);
// 				}
// 			}
// 		}
// 	}
// }

// // Navbar / dropdown 
// .dropdown {
// 	position: relative;
// 	z-index: 1000;

// 	.d-menu {
// 		position: absolute;
// 		right: 0;
// 		top: calc(100% + 15px);
// 		min-width: 200px;
// 		background: $white;
// 		border: $border-width solid $border-color;
// 		border-radius: $card-border-radius;
// 		padding: 12px 15px;

// 		// for hover effect
// 		-webkit-transform: translateY(14px);
// 		transform: translateY(14px);
// 		-webkit-transition: all .2s .2s;
// 		transition: all .2s .2s;
// 		opacity: 0;
// 		visibility: hidden;

// 		&:after {
// 			content: '';
// 			display: block;
// 			width: 16px;
// 			height: 16px;
// 			border-radius: 2px;
// 			position: absolute;
// 			top: -3px;
// 			right: 18px;
// 			background: inherit;
// 			transform: rotate(45deg);
// 			-webkit-transition: .1s .1;
// 			transition: .1s .1s;
// 			border-top: $border-width solid $border-color;
// 			border-left: $border-width solid $border-color;
// 		}

// 		&.centred {
// 			left: 50%;
// 			right: auto;
// 			-webkit-transform: translate(-50%, 14px);
// 			transform: translate(-50%, 14px);

// 			&:after {
// 				left: 50%;
// 				right: auto;
// 				-webkit-transform: translateX(-50%) rotate(45deg);
// 				transform: translateX(-50%) rotate(45deg);
// 			}
// 		}

// 		.d-m-link {
// 			color: $link-color;
// 			display: block;
// 			padding: 6px 10px;
// 			font-weight: $bold-1;
// 		}
// 	}

// 	&:hover {
// 		.nav-link {
// 			color: $link-hover !important;
// 		}

// 		.d-menu {			
// 			-webkit-transform: translateY(0);
// 			transform: translateY(0);

// 			.d-m-link {
// 				text-decoration: none;

// 				&:hover {
// 					color: $link-hover;
// 				}
// 			}

// 			&.centred {
// 				-webkit-transform: translate(-50%, 0);
// 				transform: translate(-50%, 0);
// 			}

// 			opacity: 1;
// 			visibility: visible;
// 			transition-delay: 0s;

// 			&:after {
// 				top: -9px;
// 				transition-delay: 0s;
// 			}
// 		}
// 	}
// }
// @include media-breakpoint-down(md) {
// 	nav.page-nav .container {
// 		z-index: 999;
// 		position: relative;

// 		.navbar-item.links {
// 			border: 1px solid $border-color;
// 			position: absolute;
// 			width: 95%;
// 			z-index: 9999;
// 			top: 100%;
// 			left: calc(50% - 20px);
// 			transform: translateX(-50%) translateY(15px);
// 			flex-direction: column;
// 			align-items: flex-start;
// 			padding: 15px 20px;
// 			background: inherit;
// 			z-index: 990;
// 			border-radius: 0 0 $card-border-radius $card-border-radius;
// 			opacity: 0;
// 			visibility: hidden;
// 			@include transition(all, .3s);

// 			&.show {
// 				visibility: visible;
// 				opacity: 1;
// 				transform: translateX(-50%) translateY(0px);
// 				background: $white;				
// 			}

// 			.Dropdown {
// 				width: 100%;
// 				.nav-link {

// 				}
// 				.d-menu {
// 					font-size: 12px;
// 					position: relative;
// 					left: 0;
// 					top: 0;
// 					position: relative;
// 					transform: none;
// 					opacity: 1;
// 					visibility: visible;
// 					width: 100%;
// 					border-radius: 0;
// 					border: 0;
// 					max-height: 0;
// 					padding: 0;				
// 					overflow: hidden;
// 					opacity: 0;
// 					@include transition(all,.3);


// 					&:after {
// 						display: none;
// 					}
// 				}

// 				&.open .d-menu{
// 					max-height: 300px;
// 					opacity: 1;
// 					padding: 12px 15px;
// 				}
// 			}

// 			.nav-link,
// 			.Dropdown {
// 				padding: 7px 0;
// 			}

// 		}
// 		.tgl-icon {
// 			display: block !important;
// 			position: relative;
// 			width: 40px;

// 			span {
// 				margin-left: auto;
// 				display: block;
// 				width: 30px;
// 				height: 2px;
// 				border-radius: 4px;
// 				background: $link-color;

// 				&:before,
// 				&:after {
// 					content: '';
// 					display: block;
// 					width: 30px;
// 					height: 2px;
// 					border-radius: 4px;
// 					background: inherit;
// 					margin: 0;
// 					@include transition(all,.2s);
// 				}

// 				&:before {
// 					transform: translateY(-9px);
// 				}
// 				&:after {
// 					transform: translateY(6px);
// 				}
// 			}

// 			#tgl-checkbox {
// 				top: -15px;
// 				left: -5px;
// 				position: absolute;
// 				display: block;
// 				width: 45px;
// 				height: 40px;
// 				cursor: pointer;
// 				opacity: 0;
// 				z-index: 2;
// 				-webkit-touch-callout: none;

// 				&:checked + span:after {
// 					transform: translateY(-1px);
// 				}
// 				&:checked + span:before  {
// 					transform: translateY(1px);
// 				}
// 			}
// 		}
// 	}
// }


// Navbar
// nav.page-nav { 
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 1000;

// 	&.affix {
// 		background: $white;
// 		border-bottom: 1px solid $border-color;
// 		box-shadow: $box-shadow;
//     	@include bg-animation;
//     	@include color-animation;
		
// 		.nav-link {
// 			color: $dark;
// 			&:hover{
// 				color: $gray-500;
// 				@include color-animation;
// 			}
// 		}	
// 	}

// 	.container {
// 		position: relative;	
// 		height: 66px;
// 		padding: 0 25px;
// 		overflow: visible;
// 		@include flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		@include transition(all,.3s);
// 		text-transform: uppercase;
// 		letter-spacing: 1.5px;
// 		font-size: 12.5px;	
// 		background: none;		
		
// 		ul#menu-primary-menu{
// 			border: 1px solid red;
// 			@include flex;
// 			align-items: center;
// 		}

// 		.navbar-item{
// 			border: 1px solid red;
// 			@include flex;
// 			align-items: center;

// 			&.menu-item {
// 				margin-right: auto;
// 				margin-left: 20px;
// 			}

// 			.nav-link{
// 				position: relative;
// 				margin: 0 7px;
// 				font-weight: 500;
// 				text-decoration: none;
// 				color: $link-color;

// 				&.tgl-icon {
// 					display: none;
// 					color: $link-color;
// 				}

// 				&:hover {
// 					color: $link-hover;
// 				}
// 			}			
// 		}

// 		.navbar-brand {
// 			img{
// 				height: 30px;
// 				display: block;
// 				margin-left: 5px;
// 			}
// 		}

// 		@include media-breakpoint-down(md) {
// 			padding: 0 10px;
// 		}
// 	}
// }

// Navbar / dropdown 
// .dropdown {
// 	position: relative;
// 	z-index: 1000;

// 	.d-menu {
// 		position: absolute;
// 		right: 0;
// 		top: calc(100% + 15px);
// 		min-width: 200px;
// 		background: $white;
// 		border: $border-width solid $border-color;
// 		border-radius: $card-border-radius;
// 		padding: 12px 15px;

// 		// for hover effect
// 		-webkit-transform: translateY(14px);
// 		transform: translateY(14px);
// 		-webkit-transition: all .2s .2s;
// 		transition: all .2s .2s;
// 		opacity: 0;
// 		visibility: hidden;

// 		&:after {
// 			content: '';
// 			display: block;
// 			width: 16px;
// 			height: 16px;
// 			border-radius: 2px;
// 			position: absolute;
// 			top: -3px;
// 			right: 18px;
// 			background: inherit;
// 			transform: rotate(45deg);
// 			-webkit-transition: .1s .1;
// 			transition: .1s .1s;
// 			border-top: $border-width solid $border-color;
// 			border-left: $border-width solid $border-color;
// 		}

// 		&.centred {
// 			left: 50%;
// 			right: auto;
// 			-webkit-transform: translate(-50%, 14px);
// 			transform: translate(-50%, 14px);

// 			&:after {
// 				left: 50%;
// 				right: auto;
// 				-webkit-transform: translateX(-50%) rotate(45deg);
// 				transform: translateX(-50%) rotate(45deg);
// 			}
// 		}

// 		.d-m-link {
// 			color: $link-color;
// 			display: block;
// 			padding: 6px 10px;
// 			font-weight: $bold-1;
// 		}
// 	}

// 	&:hover {
// 		.nav-link {
// 			color: $link-hover !important;
// 		}

// 		.d-menu {			
// 			-webkit-transform: translateY(0);
// 			transform: translateY(0);

// 			.d-m-link {
// 				text-decoration: none;

// 				&:hover {
// 					color: $link-hover;
// 				}
// 			}

// 			&.centred {
// 				-webkit-transform: translate(-50%, 0);
// 				transform: translate(-50%, 0);
// 			}

// 			opacity: 1;
// 			visibility: visible;
// 			transition-delay: 0s;

// 			&:after {
// 				top: -9px;
// 				transition-delay: 0s;
// 			}
// 		}
// 	}
// }
// @include media-breakpoint-down(md) {
// 	nav.page-nav .container {
// 		z-index: 999;
// 		position: relative;

// 		.navbar-item.links {
// 			border: 1px solid $border-color;
// 			position: absolute;
// 			width: 95%;
// 			z-index: 9999;
// 			top: 100%;
// 			left: calc(50% - 20px);
// 			transform: translateX(-50%) translateY(15px);
// 			flex-direction: column;
// 			align-items: flex-start;
// 			padding: 15px 20px;
// 			background: inherit;
// 			z-index: 990;
// 			border-radius: 0 0 $card-border-radius $card-border-radius;
// 			opacity: 0;
// 			visibility: hidden;
// 			@include transition(all, .3s);

// 			&.show {
// 				visibility: visible;
// 				opacity: 1;
// 				transform: translateX(-50%) translateY(0px);
// 				background: $white;				
// 			}

// 			.dropdown {
// 				width: 100%;
// 				.nav-link {

// 				}
// 				.d-menu {
// 					font-size: 12px;
// 					position: relative;
// 					left: 0;
// 					top: 0;
// 					position: relative;
// 					transform: none;
// 					opacity: 1;
// 					visibility: visible;
// 					width: 100%;
// 					border-radius: 0;
// 					border: 0;
// 					max-height: 0;
// 					padding: 0;				
// 					overflow: hidden;
// 					opacity: 0;
// 					@include transition(all,.3);


// 					&:after {
// 						display: none;
// 					}
// 				}

// 				&.open .d-menu{
// 					max-height: 300px;
// 					opacity: 1;
// 					padding: 12px 15px;
// 				}
// 			}

// 			.nav-link,
// 			.Dropdown {
// 				padding: 7px 0;
// 			}

// 		}
// 		.tgl-icon {
// 			display: block !important;
// 			position: relative;
// 			width: 40px;

// 			span {
// 				margin-left: auto;
// 				display: block;
// 				width: 30px;
// 				height: 2px;
// 				border-radius: 4px;
// 				background: $link-color;

// 				&:before,
// 				&:after {
// 					content: '';
// 					display: block;
// 					width: 30px;
// 					height: 2px;
// 					border-radius: 4px;
// 					background: inherit;
// 					margin: 0;
// 					@include transition(all,.2s);
// 				}

// 				&:before {
// 					transform: translateY(-9px);
// 				}
// 				&:after {
// 					transform: translateY(6px);
// 				}
// 			}

// 			#tgl-checkbox {
// 				top: -15px;
// 				left: -5px;
// 				position: absolute;
// 				display: block;
// 				width: 45px;
// 				height: 40px;
// 				cursor: pointer;
// 				opacity: 0;
// 				z-index: 2;
// 				-webkit-touch-callout: none;

// 				&:checked + span:after {
// 					transform: translateY(-1px);
// 				}
// 				&:checked + span:before  {
// 					transform: translateY(1px);
// 				}
// 			}
// 		}
// 	}
// }



// Header
header{
	position: relative;
	box-sizing: border-box;
	background: rgba($red, 0.6);
	width: 100%;
	height: 350px;

	.center-content{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
		max-width: $max-width;
	}
}








//
// Footer
// 
footer.main{
	width: 100%;
	background: $white;
	box-shadow: $box-shadow;

	ul.menu{
		margin: 0px;
		padding: 0px;
    
		li{
			display: inline-block;
			padding: 8px 12px;
			align-items: center;
			justify-content: space-between;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size: 12.5px;	
			margin-bottom: 0px;
		}
	}
}





