.navbar{
	background: none;
	box-shadow: none !important;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;

	.navbar-brand{

		img{
			width: 180px;
			transition: .3s;
		}
	}


	&.affix {

		.navbar-brand{

			img{
				width: 150px;

			}
		}

		background: $white;
		border-bottom: 1px solid $border-color;
		box-shadow: $box-shadow;
	}


	// @include media-breakpoint-down(md) {

	// 	.navbar-nav{
	// 		width: 100% !important;
	// 		top: 50px;
	// 		left: 0px;
	// 		position: absolute;
	// 		background: $white;	
	// 		margin-top: -1px;
	// 	}
	// }

}