/* purgecss start ignore */

.text-light,
.text-white {
  color: white !important;
}

.bg-dark-blue {
  background-color: $dark-blue !important;
}

.bg-gray {
  background-color: darken(white, 10%) !important;
}

.text-dark-blue {
  color: $dark-blue !important;
}

.text-med-blue {
  color: $med-blue !important;
}
.text-blue {
  color: $blue !important;
}

.lead {
  font-size: 2.2rem;
}

.font-base {
  font-family: $font-family-base !important;
}

.font-secondary {
  font-family: $font-family-secondary !important;
}

.display-4 {
  font-size: 10rem !important;
}

.display-5 {
  font-size: 8rem !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}
.text-xl {
  font-size: 14rem !important;
}

.text-lg {
  font-size: 5rem;
}

.font-weight-light {
  font-weight: 100 !important;
}

.text-md {
  font-size: 3rem;
  line-height: 1.5;
}

.letter-spacing-lg {
  letter-spacing: 2px;
}

.font-weight-bold {
  font-weight: bold !important;
}

// svg icons
.icon-lg {
  width: 6.5rem;
}

// z indexes
.z-index-1 {
  z-index: 1 !important;
}
.z-index-2 {
  z-index: 2 !important;
}
.z-index-3 {
  z-index: 3 !important;
}
.z-index-4 {
  z-index: 4 !important;
}
.z-index-5 {
  z-index: 5 !important;
}

// opacities
.op-1 {
  opacity: 0.1 !important;
}

.clip_2_lines {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clip_3_lines {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clip_3_lines {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.font-size-sm {
  font-size: 1.5rem;
}

/* purgecss end ignore */
